<div class="main">
    <div class="contents2">
        <h1>グループ画面</h1>
        <% @groups.each do |e| %>
        <p>
            グループ名：<%= link_to e.name %>
            <%= link_to "削除", group_path(e), data: {"turbo-method": :delete} %>
            <%= link_to '加入', joins_path(group_id: e.id), data: {"turbo-method": :post} %>
            <%= link_to '退会', join_path(e), data: {"turbo-method": :delete} %>
        </p>
        <% end %>
        <%=link_to '戻る', :back%>
        <%= link_to 'グループ作成', new_group_path %>
    </div>
</div>