<div class="main">
    <div class="contents2">
        <h1>グループ画面</h1>
        <% @groups.each do |e| %>
        <p>
            グループ名：<%= e.name %>
            <%= link_to "削除", group_path(e), data: {"turbo-method": :delete} %>
            <% if e.joined?(current_user) %>
                <%= link_to '退会', join_path(e), data: {"turbo-method": :delete} %>
            <% else %>
                <%= link_to '加入', joins_path(group_id: e.id), data: {"turbo-method": :post} %>
            <% end %>
            メンバー数 : <%= Join.where(group_id: e.id).count %>
        </p>
        <% end %>
        <%=link_to '戻る', mypages_index_path %>
        <%= link_to 'グループ作成', new_group_path %>
    </div>
</div>