<div class="main">
    
    <div id="contents1">
        <%= render "sidebar" %>
    </div>
    
    <div class="contents2">
        <h1>グループ作成</h1>
        <hr>
        <%= form_for @group, url: {action: :create} do |f| %>
          <%= f.label :name, 'グループ名' %>
          <%= f.text_field :name %>
          <%= f.submit '登録' %>
        <% end %>
        <%=link_to '戻る', groups_path %>
    </div>
</div>