<h1>グループ作成</h1>
    <%= form_for @group, url: {action: :create} do |f| %>
        <%= f.label :name, 'グループ名' %>
        <%= f.text_field :name %>
        <%= f.submit '登録' %>
    <% end %>

<%=link_to '戻る', mypages_index_path %>