<div class="main">
    
    <div id="contents1">
        <%= render "sidebar" %>
    </div>
    
    <div class="contents2">
        <h1>グループ作成</h1>
        <p class="dashed"></p>
        <%= form_for @group, url: {action: :create} do |f| %>
            <p>
                <%= f.label :name, 'グループ名' %>
                <%= f.text_field :name %>
            </p>
          <%= f.submit '登録', class:"custom-submit-button"%>
        <% end %>
        <%=link_to '戻る', groups_path %>
    </div>
</div>