<h1>ユーザー登録</h1>
<p class="dashed"></p>
<%= form_for @user,url: {action: :create} do |f| %>
    <P>
        <%= f.label :uid, 'ユーザーID' %>
        <%= f.text_field :uid %>
    </P>
    <p>
        <%= f.label :pass, 'パスワード' %>
        <%= f.password_field :pass %>
    </p>
    <%= f.submit '登録',class:"custom-submit-button" %>
<% end %>

<%=link_to '戻る', :back%>